.titulo {
    color: red;
}

.color-verde {
    color: green;
}

.bg-red {
    background-color: red;
}

.modal-container {
    width: 100vw;
    height: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(195, 188, 188, 0.646);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;

    visibility: hidden;
    opacity: 0;
}

.modal {
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.invalido {
    border: 2px solid red;
    outline: 2px solid red;
}